$normal: 14px;
$noto: 'Noto Serif', serif;
$pt: 'PT Sans', sans-serif;

$bp-xxx-large:   "only screen and (max-width : 1500px)";

$bp-xx-large:   "only screen and (min-width : 1624px)";
$bp-x-large:    "only screen and (min-width : 1242px)";
$min-m:         "only screen and (min-width : 992px)";
$min-s:         "only screen and (min-width : 768px)";

$bp-blarge:      "only screen and (max-width : 1623px)";
$bp-large:      "only screen and (max-width : 1241px)";
$bp-medium:     "only screen and (max-width : 991px)";
$bp-small:      "only screen and (max-width : 767px)";

$bp-smm:      "only screen and (max-width : 550px)";
$bp-xsmall:    "only screen and (max-width : 479px)";
$bp-xxsmall:    "only screen and (max-width : 320px)";



