@import "_variables.scss";
@import "_normalize.scss";
@import "_base.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_form.scss";
@import "_animation.scss";
@import "_play-button.scss";
@import "_button.scss";



header {
	background: url('../img/header.jpg') center top no-repeat;
	padding-bottom: 150px;
	background-size: cover;
	@media #{$bp-blarge} {
		padding-bottom: 135px;
	}
	@media #{$bp-large} {
		padding-bottom: 123px;
	}
	@media #{$bp-medium} {
	      padding-bottom: 107px;
	}
	.button {
		@media #{$bp-blarge} {
			font-size: 14px;
		}
		@media #{$bp-large} {
			font-size: 12px;
			padding: 0 18px !important;
		}
		@media #{$bp-medium} {
			padding: 0 13px !important;
		}
		@media #{$bp-small} {
			font-size: 11px;
		}
	}
	&+.section-1 {
		&>.container {
			margin-top: -80px;
		}
	}
	.logo {
		display: inline-block;
		text-decoration: none;
		background: url('../svg/logo.svg') center top no-repeat;
		width: 237px;
		height: 195px;
		background-size: 237px 195px;
		vertical-align: middle;
		@media #{$bp-blarge} {
			width: 178px;
			height: 147px;
			background-size: 178px 147px;
		}
		@media #{$bp-large} {
			width: 141px;
			height: 113px;
			background-size: 141px 113px;
		}
		@media #{$bp-medium} {
			width: 104px;
			height: 83px;
			background-size: 104px 83px;
		}
	}
	.info {
		color: #8cc63f;
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 23px;
		margin-left: 33px;
		@media #{$bp-large} {
			margin-left: 15px;
		}
		@media #{$bp-medium} {
			font-size: 11px;
			margin-bottom: 10px;
		}
	}
	.header-contact {
		text-align: right;
		padding-top: 35px;
		@media #{$bp-large} {
			padding-top: 20px;
		}
		.phone {
			font-family: $noto;
			color: white;
			font-size: 24px;
			font-weight: 700;
			@media #{$bp-blarge} {
				font-size: 22px;
			}
			@media #{$bp-medium} {
				font-size: 16px;
			}
		}
		.link {
			color: #8cc63f;
			font-size: 18px;
			text-decoration: underline;
			display: inline-block;
			@media #{$bp-blarge} {
				font-size: 16px;
			}
			@media #{$bp-medium} {
				font-size: 12px;
			}
		}
	}

	h1 {
		margin: 30px 0 0 0;
		font-family: $noto;
		font-size: 75px;
		line-height: 80px;
		@media #{$bp-blarge} {
			font-size: 57px;
			line-height: 60px;
			margin-top: 23px;
		}
		@media #{$bp-large} {
			font-size: 47px;
			line-height: 46px;
		}
		@media #{$bp-medium} {
			font-size: 33px;
			line-height: 35px;
		}
		@media #{$bp-small} {
			font-size: 22px;
			line-height: 25px;
		}
	}
	h5 {
		margin: 33px 0 10px 0;
		font-size: 34px;
		line-height: 37px;
		@media #{$bp-blarge} {
			font-size: 24px;
			line-height: 29px;
			margin-bottom: 0;
		}
		@media #{$bp-large} {
			font-size: 20px;
			line-height: 22px;
			margin-top: 15px;
			margin-bottom: 5px;
		}
		@media #{$bp-medium} {
			font-size: 16px;
			line-height: 18px;
			margin-top: 7px;
		}
		@media #{$bp-small} {
			font-size: 13px;
			line-height: 14px;
		}
	}
	h6 {
		margin: 0;
		font-size: 20px;
		line-height: 25px;
		@media #{$bp-blarge} {
			font-size: 16px;
			line-height: 25px;
		}
		@media #{$bp-medium} {
			font-size: 12px;
		}
	}

	.video-play {
		margin-left: auto;
		margin-right: auto;
		margin-top: 165px;
		display: block;
		position: relative;
		@media #{$bp-blarge} {
			margin-top: 120px;
		}
		@media #{$bp-large} {
			margin-top: 90px;
		}
		@media #{$bp-medium} {
		      margin-top: 70px;
		}
		.show {
			text-decoration: none;
			color: #fff;
			font-size: 16px;
			line-height: 21px;
			margin-left: 180px;
			white-space: nowrap;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@media #{$bp-blarge} {
				margin-left: 135px;
			}
			@media #{$bp-large} {
				font-size: 13px;
				line-height: 16px;
				margin-left: 100px;
			}
			@media #{$bp-medium} {
				font-size: 12px;
				line-height: 14px;
				margin-left: 65px;
			}
		}
	}

	.button {
		padding-left: 30px;
		padding-right: 30px;
		margin-top: 45px;
		@media #{$bp-blarge} {
			margin-top: 25px;
		}
		@media #{$bp-large} {
			margin-top: 15px;
		}
		@media #{$bp-medium} {
		      margin-top: 1px;
		}
	}
}






.section-1 {

	.left-white-block {
		padding: 36px 30px 80px 70px;
		height: 100%;
		background-color: #fff;
		border: 1px solid #ededed;
		box-shadow: 0 8px 11px rgba(0, 0, 0, 0.16);
		@media #{$bp-blarge} {
			padding-top: 30px;
			padding-left: 55px;
			padding-bottom: 20px;
		}
		@media #{$bp-large} {
			padding-left: 40px;
			padding-top: 29px;
			padding-bottom: 30px;
		}
		@media #{$bp-medium} {
		      padding: 20px;
		}
		h4 {
			font-family: $noto;
			color: #404042;
			font-size: 36px;
			line-height: 50px;
			@media #{$bp-blarge} {
				font-size: 30px;
			}
			@media #{$bp-large} {
				font-size: 23px;
				line-height: 26px;
			}
			@media #{$bp-medium} {
				font-size: 20px;
				line-height: 24px;
			}
			@media #{$bp-small} {
				font-size: 17px;
				line-height: 20px;
			}
		}
		h5 {
			color: #404042;
			font-size: 20px;
			margin-top: 25px;
			margin-bottom: 10px;
			line-height: 25px;
			@media #{$bp-blarge} {
				font-size: 18px;
				margin-top: 0;
				margin-bottom: 4px;
			}
			@media #{$bp-large} {
				font-size: 14px;
				margin-top: 2px;
			}
			@media #{$bp-medium} {
				font-size: 13px;
				margin-bottom: 0;
			}
		}
		.main-list {
			padding-left: 40px;
			padding-bottom: 35px;
			@media #{$bp-blarge} {
				padding-left: 30px;
				padding-bottom: 25px;
			}
			@media #{$bp-large} {
				padding-bottom: 10px;
			}
			li {
				color: #161616;
				font-size: 14px;
				line-height: 21px;
				position: relative;
				padding-left: 25px;
				@media #{$bp-blarge} {
					font-size: 13px;
					line-height: 16px; 
				}
				@media #{$bp-large} {
					font-size: 12px;
					line-height: 15px;
				}
				@media #{$bp-medium} {
				      line-height: 13px;
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: #161616;
					@media #{$bp-blarge} {
						width: 4px;
						height: 4px;
					}
				}
			}
		}
		.plan-img {
			display: block;
			@media #{$bp-blarge} {
				max-width: 100%;
				height: auto;
			}
		}
		.line-top {
			position: relative;
			padding: 30px 0;
			@media #{$bp-blarge} {
				padding: 25px 0;
				&+.line-top {
					padding-top: 5px;
				}
			}
			@media #{$bp-large} {
				padding: 5px 0px;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 70%;
				height: 1px;
				opacity: 0.3;
				background-color: #cdcdcd;
			}
			.price {
				color: #404042;
				font-size: 20px;
				@media #{$bp-large} {
					font-size: 18px;
					line-height: 20px;
				}
				@media #{$bp-medium} {
					font-size: 12px;
				}
				&.price-old {
					color: #9b9b9b;
					text-decoration: line-through;
					margin-bottom: 1px;
				}
			}
		}
		.download-pdf {
			color: #404042;
			font-size: 16px;
			line-height: 18px;
			text-decoration: underline;
			position: relative;
			padding-left: 48px;
			display: inline-block;
			@media #{$bp-blarge} {
				padding-left: 35px;
			}
			@media #{$bp-large} {
				font-size: 12px;
				line-height: 14px;
			}
			@media #{$bp-medium} {
				font-size: 10px;
				line-height: 12px;
			}
			.pdf {
				display: inline-block;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: url('../svg/pdf.svg') center top no-repeat;
				width: 31px;
				height: 31px;
				background-size: 31px 31px;
				@media #{$bp-blarge} {
					width: 22px;
					height: 22px;
					background-size: 22px 22px;
				}
				@media #{$bp-large} {
					width: 17px;
					height: 17px;
					background-size: 17px 17px;
				}
			}
		}
	}


	.right-timer-block {
		background-color: #047bc0;
		border-left: 15px solid #8cc63f;
		height: 100%;
		.top-line {
			background-color: #047bc0;
			position: relative;
			padding: 40px 0 30px;
			border-bottom: 13px solid #fff;
			@media #{$bp-blarge} {
				padding-top: 20px;
				padding-bottom: 20px;
			}
			@media #{$bp-large} {
				padding-top: 17px;
				padding-bottom: 10px;
			}
			@media #{$bp-medium} {
			      padding-top: 19px;
			      padding-bottom: 10px;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: -15px;
				width: 15px;
				top: 0;
				height: 100%;
				background-color: #047bc0;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -15px;
				bottom: -13px;
				width: 100%;
				height: 13px;
				background-color: #fff;
			}
			i.icon-1 {
				position: absolute;
				left: 38px;
				top: 50%;
				transform: translateY(-50%);
				display: inline-block;
				background: url('../svg/timer-1.svg') center top no-repeat;
				width: 33px;
				height: 36px;
				background-size: 33px 36px;
				@media #{$bp-blarge} {
					left: 30px;
					width: 24px;
					height: 26px;
					background-size: 24px 26px;
				}
				@media #{$bp-large} {
					left: 10px;
				}
				@media #{$bp-medium} {
					background-size: 65%;
					left: -5px;
				}
			}
			i.icon-2 {
				position: absolute;
				left: 50%;
				margin-left: 43px;
				top: 50%;
				transform: translateY(-50%);
				display: inline-block;
				background: url('../svg/timer-2.svg') center top no-repeat;
				width: 37px;
				height: 28px;
				background-size: 37px 28px;
				@media #{$bp-blarge} {
					width: 27px;
					height: 20px;
					background-size: 27px 20px;
				}
				@media #{$bp-large} {
					margin-left: 20px;
				}
				@media #{$bp-medium} {
					background-size: 65%;
					margin-left: 10px;
				}
			}
			.top >div:first-child:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 10px; 
				width: 2px;
				height: 71px;
				background-color: #0785ce;
				@media #{$bp-large} {
				      height: 50px;
				}
				@media #{$bp-medium} {
				      height: 30px;
				      right: 5px;
				}
			}
			.sm {
				padding-left: 109px;
				font-size: 16px;
				color: rgba(255,255,255, .5);
				@media #{$bp-blarge} {
					font-size: 12px;
					padding-left: 80px;
				}
				@media #{$bp-large} {
					padding-left: 50px;
				}
				@media #{$bp-medium} {
					font-size: 10px;
					line-height: 15px;
					padding-left: 25px;
				}
			}
			.xs {
				font-size: 14px;
				line-height: 25px;
				@media #{$bp-large} {
					font-size: 12px;
				}
				@media #{$bp-medium} {
					font-size: 9px;
					line-height: 14px;
				}
			}
			.lg {
				font-size: 56px;
				@media #{$bp-blarge} {
					font-size: 42px;
					line-height: 50px;
				}
				@media #{$bp-large} {
					font-size: 32px;
				}
				@media #{$bp-medium} {
					font-size: 24px;
					line-height: 30px;
				}
			}
			.md {
				font-size: 36px;
				margin-top: 15px;
				@media #{$bp-blarge} {
					font-size: 30px;
					margin-top: 10px;
				}
				@media #{$bp-large} {
					font-size: 24px;
					margin-top: 5px;
				}
				@media #{$bp-medium} {
					font-size: 18px;
					margin-top: 0;
				}
				span {
					&:first-child {
						margin-right: 10px;
						@media #{$bp-medium} {
						      margin-right: 3px;
						}
					}
					display: inline-block;
					vertical-align: top;
				}
				b {
					font-weight: normal;
					font-size: 14px;
					color: rgba(255,255,255, .2);
					display: block;
					@media #{$bp-large} {
						font-size: 12px;
					}
					@media #{$bp-medium} {
						font-size: 10px;
					}
				}
			}
		}
		.padding-timer {
			margin-left: 109px;
			@media #{$bp-blarge} {
				margin-left: 65px;
			}
			@media #{$bp-large} {
				margin-left: 50px;
			}
			@media #{$bp-medium} {
			      margin-left: 25px;
			}
		}
		.bottom-line {
			padding: 30px 0px 30px 38px;
			@media #{$bp-blarge} {
				padding-left: 25px;
			}
			@media #{$bp-large} {
				padding-bottom: 20px;
			}
			@media #{$bp-medium} {
			      padding: 15px;
			}
			.title-block {
				font-size: 46px;
				line-height: 44px;
				margin-bottom: 15px;
				@media #{$bp-blarge} {
					font-size: 30px;
					line-height: 33px;
					margin-bottom: 5px;
				}
				@media #{$bp-large} {
					font-size: 24px;
					line-height: 26px;
					margin-bottom: 0;
				}
				@media #{$bp-medium} {
					font-size: 18px;
					line-height: 18px;
				}
			}
			.dsc {
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 15px;
				@media #{$bp-blarge} {
					font-size: 16px;
					line-height: 18px;
					margin-bottom: 10px;
				}
				@media #{$bp-large} {
					font-size: 13px;
					line-height: 15px;
					margin-bottom: 9px;
				}
				@media #{$bp-medium} {
					font-size: 11px;
					line-height: 13px;
				}
			}
			form {
				padding-right: 54px;
				@media #{$bp-medium} {
				      padding-right: 0;
				}
				input:not([type=submit]) {
				}
				.button {
					padding-left: 35px;
					padding-right: 35px;
					margin-top: 31px;
					padding-top: 0;
					padding-bottom: 0;
					@media #{$bp-large} {
						padding-left: 20px;
						padding-right: 20px;
						margin-top: 20px;
					}

					@media #{$bp-medium} {
						padding-left: 13px;
						padding-right: 13px;
						margin-top: 15px;
					}
				}
			}
		} 
	}
}







.title {
	color: #404042;
	font-size: 46px;
	line-height: 50px;
	text-align: center;
	@media #{$bp-blarge} {
		font-size: 38px;
	}
	@media #{$bp-medium} {
		font-size: 28px;
	}
	@media #{$bp-small} {
		font-size: 28px;
		line-height: 30px;
	}	
}
.desc {
	color: #404042;
	font-size: 24px;
	line-height: 25px;
	text-align: center;
	margin-top: 17px;
	@media #{$bp-blarge} {
		font-size: 22px;
		line-height: 25px;
		margin-top: 5px;
	}
	@media #{$bp-large} {
		font-size: 18px;
		line-height: 25px;
		margin-top: 5px;
	}
	@media #{$bp-medium} {
		font-size: 14px;
		line-height: 25px;
		margin-top: 0;
	}
	@media #{$bp-small} {
		line-height: 15px;
	}
}



.section-2 {
	text-align: center;
	padding-top: 125px;
	padding-bottom: 140px;
	@media #{$bp-blarge} {
		padding-top: 60px;
		padding-bottom: 55px;
	}
	@media #{$bp-large} {
		padding-top: 40px;
		padding-bottom: 45px;
	}
	@media #{$bp-medium} {
	      padding-top: 45px;
	      padding-bottom: 32px;
	}
	.title {
		@media #{$bp-large} {
			font-size: 30px;
		}
		@media #{$bp-medium} {
			font-size: 24px;
			line-height: 28px;
		}
		@media #{$bp-small} {
			line-height: 26px;
		}
	}
	.button {
		padding-left: 70px;
		padding-right: 70px;
		@media #{$bp-blarge} {
			padding: 0 42px;
		}
		@media #{$bp-large} {
			padding: 0 30px;
		}
		@media #{$bp-medium} {
			padding: 0 13px;
		}
		@media #{$bp-small} {
			font-size: 11px;
		}
	}
	.adv {
		padding-top: 95px;
		padding-bottom: 60px;
		margin-bottom: 40px;
		border-bottom: 1px solid #e8e8e8;
		@media #{$bp-blarge} {
			padding-top: 75px;
			padding-bottom: 35px;
			margin-bottom: 35px;
		}
		@media #{$bp-large} {
			padding-top: 56px;
			padding-bottom: 15px;
			margin-bottom: 25px;
		}
		@media #{$bp-medium} {
		      padding-top: 35px;
		      padding-bottom: 10px;
		      margin-bottom: 20px;
		}
	}
	p {
		color: #404042;
		font-size: 24px;
		line-height: 24px;
		@media #{$bp-blarge} {
			font-size: 19px;
			line-height: 22px;
		}
		@media #{$bp-medium} {
			font-size: 14px;
			line-height: 16px;
		}
	}
	.wrapp-icon-1 {
		height: 69px;
		position: relative;
		margin-bottom: 60px;
		@media #{$bp-blarge} {
			height: 52px;
			margin-bottom: 30px;
		}
		@media #{$bp-large} {
			height: 41px;
			margin-bottom: 23px;
		}
		@media #{$bp-medium} {
			height: 31px;
		}
		i {
			display: inline-block;
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			&.icon-1-1 {
				background: url('../svg/icon-1-1.svg') center top no-repeat;
				width: 61px;
				height: 57px;
				background-size: 61px 57px;
				@media #{$bp-blarge} {
					width: 45px;
					height: 42px;
					background-size: 45px 42px;
				}
				@media #{$bp-large} {
					width: 36px;
					height: 33px;
					background-size: 36px 33px;
				}
				@media #{$bp-medium} {
					width: 26px;
					height: 25px;
					background-size: 26px 25px;
				}
			}
			&.icon-1-2 {
				background: url('../svg/icon-1-2.svg') center top no-repeat;
				width: 69px;
				height: 69px;
				background-size: 69px 69px;
				@media #{$bp-blarge} {
					width: 52px;
					height: 52px;
					background-size: 52px 52px;
				}
				@media #{$bp-large} {
					width: 41px;
					height: 41px;
					background-size: 41px 41px;
				}
				@media #{$bp-medium} {
					width: 31px;
					height: 31px;
					background-size: 31px 31px;
				}
			}
			&.icon-1-3 {
				background: url('../svg/icon-1-3.svg') center top no-repeat;
				width: 51px;
				height: 57px;
				background-size: 51px 57px;
				@media #{$bp-blarge} {
					width: 39px;
					height: 42px;
					background-size: 39px 42px;
				}
				@media #{$bp-large} {
					width: 31px;
					height: 33px;
					background-size: 31px 33px;
				}
				@media #{$bp-medium} {
					width: 23px;
					height: 24px;
					background-size: 23px 24px;
				}
			}
		}
	}
}






.section-3 {
	background-color: #fafafa;
	padding: 95px 0 0px;
	@media #{$bp-blarge} {
		padding-top: 90px;
	}
	@media #{$bp-large} {
		padding-top: 85px;
	}
	@media #{$bp-medium} {
	      padding-top: 70px;
	}
	&>.container {
		padding-bottom: 150px;
		border-bottom: 1px solid #e8e8e8;
		@media #{$bp-blarge} {
			padding-bottom: 110px;
		}
		@media #{$bp-large} {
			padding-bottom: 90px;
		}
		@media #{$bp-medium} {
		      padding-bottom: 50px;
		}
	}
	.main-photo {
		display: none;
		&.active {
			display: block;
		}
		img {
			// max-width: 100%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: auto;
			max-width: 100%;
			max-height: 400px;
			height: auto;
			margin-top: 60px;
			// backface-visibility: hidden;
			// transform: translateZ(0) scale(1.0, 1.0);
			@media #{$bp-blarge} {
				max-height: 230px;
				margin-top: 30px;
			}
			@media #{$bp-large} {
				max-height: 200px;
			}
			@media #{$bp-medium} {
				max-height: 150px;
			}
			@media #{$bp-small} {
				max-height: 150px;
			}
		}
	}
	.dsc-block {
		background-color: white;
		width: 75%;
		float: right;
		padding: 70px 55px 80px 55px;
		margin-top: 25px;
		@media #{$bp-blarge} {
			padding-left: 40px;
			margin-top: 0;
			padding-top: 60px;
			padding-right: 40px;
		}
		@media #{$bp-large} {
			padding-bottom: 20px;
		}
		@media #{$bp-medium} {
			width: 83%;
		      padding-top: 24px;
		      padding-left: 15px;
		      padding-right: 15px;
		}
		
		.main-info {
			display: none;
			&.active {
				display: block;
			}
		}
		.list-1 {
			margin-top: 19px;
			margin-bottom: 30px;
			@media #{$bp-large} {
				margin-top: 13px;
			}
			@media #{$bp-medium} {
			      margin-bottom: 20px;
			}
		}
		.list-1 li {
			font-size: 11px;
			line-height: 12px;
			@media #{$bp-medium} {
			      line-height: 11px;
			      margin: 4px 0;
			}
		}
		.head {
			color: #404042;
			font-size: 36px;
			line-height: 40px;
			font-family: $noto;
			@media #{$bp-blarge} {
				font-size: 28px;
				line-height: 32px;
			}
			@media #{$bp-large} {
				font-size: 24px;
			}
			@media #{$bp-medium} {
				font-size: 18px;
			}
		}
		.button {
			width: 100%;
			text-align: center;
		}
		.show-all {
			color: #404042;
			font-size: 20px;
			line-height: 25px;
			text-decoration: underline;
			position: relative;
			padding-left: 45px;
			display: inline-block;
			margin-top: 30px;
			@media #{$bp-blarge} {
				padding-left: 34px;
				font-size: 16px;
			}
			@media #{$bp-large} {
				font-size: 13px;
				margin-top: 20px;
			}
			@media #{$bp-medium} {
				font-size: 12px;
				margin-top: 15px;
				line-height: 16px;
				padding-left: 20px;
			}
			i {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				font-size: 32px;
				@media #{$bp-blarge} {
					font-size: 25px;
				}
				@media #{$bp-large} {
					font-size: 22px;
				}
				@media #{$bp-medium} {
				      font-size: 15px;
				}
			}
		}
	}
	.title-1 {
		color: #404042;
		font-size: 78px;
		line-height: 80px;
		@media #{$bp-blarge} {
			font-size: 58px;
			line-height: 60px;
		}
		@media #{$bp-large} {
			font-size: 42px;
			line-height: 43px;
		}
		@media #{$bp-medium} {
			font-size: 32px;
			line-height: 32px;
		}
		@media #{$bp-small} {
			font-size: 28px;
			line-height: 30px;
			text-align: center;
		}
	}
}










.section-4 {
	padding-bottom: 55px;
	background-color: #f8f8f8;
	@media #{$bp-blarge} {
		padding-bottom: 40px;
	}
	@media #{$bp-medium} {
	      padding-bottom: 23px;
	}
	.title-2 {
		margin-bottom: 105px;
		margin-top: 100px;
		@media #{$bp-blarge} {
			font-size: 38px;
			line-height: 50px;
			margin-top: 80px;
			margin-bottom: 75px;
		}
		@media #{$bp-large} {
			margin-top: 65px;
			margin-bottom: 50px;
		}
		@media #{$bp-medium} {
			font-size: 28px;
			margin-top: 53px;
			margin-bottom: 20px;
		}
		@media #{$bp-small} {
			line-height: 30px;
			text-align: center;
		}
	}
	.photo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 32px;
		@media #{$bp-blarge} {
			max-width: 100%;
			height: auto;
			margin-top: 10px;
		}
	}
	.title-lg {
		padding-left: 50px;
		padding-bottom: 27px;
		margin-bottom: 25px;
		position: relative;
		@media #{$bp-blarge} {
			padding-left: 40px;
			padding-bottom: 15px;
		}
		@media #{$bp-large} {
			padding-left: 35px;
		}
		@media #{$bp-medium} {
		      padding-left: 25px;
		      padding-bottom: 10px;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0;
			border-bottom: 1px solid #f1f1f1;
		}
	}
	.dsc-sm {
		color: #9b9b9b;
		font-size: 22px;
		padding-left: 50px;
		margin-bottom: 7px;
		@media #{$bp-blarge} {
			font-size: 20px;
			padding-left: 40px;
		}
		@media #{$bp-large} {
			font-size: 14px;
			padding-left: 35px;
		}
		@media #{$bp-medium} {
			font-size: 12px;
			padding-left: 25px;
		}
	}
	.price-md {
		color: #404042;
		font-size: 32px;
		padding-left: 50px;
		@media #{$bp-blarge} {
			font-size: 24px;
			padding-left: 40px;
		}
		@media #{$bp-large} {
			font-size: 20px;
			padding-left: 35px;
		}
		@media #{$bp-medium} {
			font-size: 16px;
			padding-left: 25px;
		}
	}
	.box {
		padding-top: 105px;
		background-color: white;
		position: relative;
		@media #{$bp-blarge} {
			padding-top: 95px;
		}
		@media #{$bp-large} {
			padding-top: 70px;
		}
		@media #{$bp-medium} {
		      padding-top: 50px;
		}
		.circle {
			width: 115px;
			height: 115px;
			border: 4px solid #f7f7f7;
			border-radius: 50%;
			position: absolute;
			top: 0;
			transform: translateY(-50%);
			margin-left: 50px;
			@media #{$bp-blarge} {
				width: 86px;
				height: 86px;
				margin-left: 45px;
			}
			@media #{$bp-large} {
				width: 70px;
				height: 70px;
				margin-left: 35px;
			}
			@media #{$bp-medium} {
				width: 50px;
				height: 50px;
				margin-left: 25px;
			}
			i.pattern {
				display: inline-block;
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: url('../svg/circle.svg') center top no-repeat;
				width: 46px;
				height: 44px;
				background-size: 46px 44px;
				@media #{$bp-blarge} {
					width: 34px;
					height: 32px;
					background-size: 34px 32px;
				}
				@media #{$bp-large} {
					width: 27px;
					height: 25px;
					background-size: 27px 25px;
				}
				@media #{$bp-medium} {
					width: 19px;
					height: 17px;
					background-size: 19px 17px;
				}
			}
			&.circle-1 {
				background-color: #047bc0;
			}
			&.circle-2 {
				background-color: #8cc63f;
			}
		}
	}
}





.title-slide {
	font-size: 65px;
	line-height: 64px;
	@media #{$bp-blarge} {
		font-size: 52px;
		line-height: 56px;
	}
	@media #{$bp-large} {
		font-size: 42px;
		line-height: 39px;
	}
	@media #{$bp-medium} {
		font-size: 32px;
		line-height: 32px;
	}
	@media #{$bp-small} {
		font-size: 18px;
		line-height: 20px;
	}
}
.note-slide {
	color: #fafafa;
	font-size: 20px;
	@media #{$bp-blarge} {
		font-size: 18px;
	}
	@media #{$bp-large} {
		font-size: 14px;
	}
	@media #{$bp-medium} {
		font-size: 12px;
	}
}

.section-5 {
	background: url('../img/bg-1.jpg') center top no-repeat;
	background-size: cover;
	padding-bottom: 90px;
	padding-top: 335px;
	@media #{$bp-blarge} {
		padding-top: 250px;
		padding-bottom: 70px;
	}
	@media #{$bp-large} {
		padding-top: 215px;
		padding-bottom: 50px;
	}
	@media #{$bp-medium} {
	      padding-top: 150px;
	      padding-bottom: 35px;
	}
	.button {
		margin-top: 40px;
		@media #{$bp-blarge} {
			margin-top: 15px;
			padding: 0 29px;
		}
		@media #{$bp-large} {
			margin-top: 10px;
			padding: 0 20px;
		}
	}
}



.section-6 {
	background: url('../img/bg-2.jpg') center bottom no-repeat;
	background-size: cover;
	padding-top: 320px;
	padding-bottom: 70px;
	@media #{$bp-blarge} {
		padding-top: 240px;
		padding-bottom: 40px;
	}
	@media #{$bp-large} {
		padding-top: 195px;
		padding-bottom: 35px;
	}
	@media #{$bp-medium} {
	      padding-top: 145px;
	      padding-bottom: 10px;
	}
	.button {
		margin-top: 25px;
		@media #{$bp-blarge} {
			margin-top: 5px;
			padding: 0 29px;
		}
		@media #{$bp-large} {
			margin-top: 15px;
			padding: 0 20px;
		}
		@media #{$bp-medium} {
		      margin-top: 5px;
		}
	}
	.note-slide {
		margin-top: 25px;
		@media #{$bp-large} {
			margin-top: 15px;
		}
		@media #{$bp-medium} {
		      margin-top: 25px;
		}
	}
}




.section-7 {
	background: url('../img/bg-3.jpg') center top no-repeat;
	background-size: cover;
	padding-top: 117px;
	padding-bottom: 50px;
	position: relative;
	@media #{$bp-blarge} {
		padding-top: 90px;
		padding-bottom: 40px;
	}
	@media #{$bp-large} {
		padding-top: 75px;
		padding-bottom: 60px;
	}
	@media #{$bp-medium} {
	      padding-top: 50px;
	      padding-bottom: 30px;
	}
	.container {
		padding-bottom: 30px;
		position: relative;
		z-index: 2;
		border-bottom: 1px solid #ececec;
		@media #{$bp-large} {
			padding-bottom: 20px;
		}
	}
	.row >div:first-child {
		text-align: center;
		.button {
			padding-left: 43px;
			padding-right: 43px;
			margin-top: 130px;
			@media #{$bp-blarge} {
				margin-top: 100px;
			}
			@media #{$bp-large} {
				padding: 0 20px;
				margin-top: 75px;
			}
			@media #{$bp-medium} {
				padding: 0 17px;
				margin-top: 40px;
			}
		}
	}
	i.after {
		display: block;
		background: url('../img/after.png') center top no-repeat;
		width: 100%;
		height: 424px;
		background-size: cover;
		position: absolute;
		left: 0;
		bottom: 0;
		@media #{$bp-medium} {
		      bottom: -75px;
		}
	}
	.title-slide {
		margin-bottom: 120px;
		@media #{$bp-blarge} {
			margin-bottom: 80px;
		}
		@media #{$bp-large} {
			margin-bottom: 70px;
		}
		@media #{$bp-medium} {
			margin-bottom: 50px;
		}
	}
	.video-play {
		display: block;
		margin-left: auto;
		margin-right: auto;
		background: url('../svg/play-green.svg') center center no-repeat #fff !important;
		background-size: 21px 28px;
		&:hover {
			background: url(../svg/play.svg) center no-repeat !important;
		}
	}
	.show {
		font-size: 16px;
		text-align: center;
		margin-top: 80px;
		line-height: 21px;
		@media #{$bp-blarge} {
			margin-top: 50px;
		}
		@media #{$bp-large} {
			font-size: 14px;
			margin-top: 35px;
		}
		@media #{$bp-medium} {
			font-size: 12px;
		}
	} 
	.car {
		max-width: 100%;
		height: auto;
		backface-visibility: hidden;
		transform: translateZ(0) scale(1.0, 1.0);
		margin-top: 30px;
	}
}



.section-8 {
	text-align: center;
	position: relative;
	padding-bottom: 80px;
	@media #{$bp-blarge} {
		padding-bottom: 65px;
	}
	@media #{$bp-large} {
		padding-bottom: 50px;
	}
	@media #{$bp-medium} {
	      padding-bottom: 35px;
	}
	.button {
		padding: 0 39px;
		margin-top: 80px;
		@media #{$bp-blarge} {
			margin-top: 65px;
			padding: 0 30px;
		}
		@media #{$bp-large} {
			padding: 0 17px;
			margin-top: 50px;
		}
		@media #{$bp-medium} {
			padding: 0 13px;
			margin-top: 30px;
		}
	}
	.steps {
		text-align: center;
		padding-top: 75px;
		padding-bottom: 12px;
		border-bottom: 1px solid #eaeaea;
		@media #{$bp-blarge} {
			padding-top: 45px;
			padding-bottom: 0;
		}
		@media #{$bp-large} {
			padding-top: 17px;
		}
		@media #{$bp-medium} {
		      padding-top: 0;
		      padding-bottom: 10px;
		}
		&>div {
			position: relative;
		}
		.arrow {
			// background: url('../svg/arrow.svg') center top no-repeat;
			// width: 261px;
			// height: 261px;
			// background-size: 261px 261px;
		}
		.wrapp-icon-2 {
			height: 64px;
			position: relative;
			@media #{$bp-blarge} {
				height: 47px;
			}
			i {
				position: absolute;
				display: block;
				margin: auto;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				&.icon-2-1 {
					background: url('../svg/icon-2-1.svg') center top no-repeat;
					width: 60px;
					height: 64px;
					background-size: 60px 64px;
					@media #{$bp-blarge} {
						width: 43px;
						height: 47px;
						background-size: 43px 47px;
					}
					@media #{$bp-large} {
						width: 35px;
						height: 37px;
						background-size: 35px 37px;
					}
					@media #{$bp-medium} {
						width: 25px;
						height: 27px;
						background-size: 25px 27px;
					}
				}
				&.icon-2-2 {
					background: url('../svg/icon-2-2.svg') center top no-repeat;
					width: 69px;
					height: 44px;
					background-size: 69px 44px;
					@media #{$bp-blarge} {
						width: 52px;
						height: 33px;
						background-size: 52px 33px;
					}
					@media #{$bp-large} {
						width: 41px;
						height: 26px;
						background-size: 41px 26px;
					}
					@media #{$bp-medium} {
						width: 31px;
						height: 20px;
						background-size: 31px 20px;
					}
				}
				&.icon-2-3 {
					background: url('../svg/icon-2-3.svg') center top no-repeat;
					width: 61px;
					height: 57px;
					background-size: 61px 57px;
					@media #{$bp-blarge} {
						width: 45px;
						height: 42px;
						background-size: 45px 42px;
					}
					@media #{$bp-large} {
						width: 36px;
						height: 33px;
						background-size: 36px 33px;
					}
					@media #{$bp-medium} {
						width: 26px;
						height: 25px;
						background-size: 26px 25px;
					}
				}
			}
		}
		.step-title {
			color: #8cc63f;
			font-size: 27px;
			font-weight: 700;
			margin-top: 47px;
			@media #{$bp-blarge} {
				margin-top: 40px;
			}
			@media #{$bp-large} {
				font-size: 18px;
				margin-top: 25px;
			}
			@media #{$bp-medium} {
				font-size: 13px;
				margin-top: 7px;
			}
		}
		p {
			color: #848484;
			font-size: 22px;
			line-height: 26px;
			margin-top: 10px;
			@media #{$bp-blarge} {
				font-size: 18px;
				line-height: 22px;
				margin-top: 5px;
			}
			@media #{$bp-large} {
				font-size: 14px;
				line-height: 16px;
			}
			@media #{$bp-medium} {
				font-size: 12px;
				line-height: 13px;
			}
		}
	}
}






.section-9 {
	position: relative;
	.left-photo, .right-box {
		width: 50%;
		float: left;
	}
	.left-photo {
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.right-box {
		display: table;
		border: 4px dashed #ebdfdf;
		.t-cell {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		.logo-svg {
			display: inline-block;
			background: url('../svg/logo-svg.svg') center top no-repeat;
			width: 184px;
			height: 84px;
			background-size: 184px 84px;
			margin-bottom: 20px;
			@media #{$bp-blarge} {
				width: 138px;
				height: 64px;
				background-size: 138px 64px;
			}
			@media #{$bp-large} {
				width: 109px;
				height: 50px;
				background-size: 109px 50px;
			}
			@media #{$bp-medium} {
				width: 81px;
				height: 38px;
				background-size: 81px 38px;
				margin-bottom: 10px;
			}
		}
		.data {
			color: #9b9b9b;
			font-size: 24px;
			@media #{$bp-blarge} {
				font-size: 18px;
			}
			@media #{$bp-large} {
				font-size: 14px;
			}
		}
		.time {
			color: #404042;
			font-size: 39px;
			display: inline-block;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #ebebeb;
			@media #{$bp-blarge} {
				font-size: 29px;
				padding-bottom: 15px;
				margin-bottom: 15px;
			}
			@media #{$bp-large} {
				font-size: 25px;
				padding-bottom: 10px;
				margin-bottom: 10px;
			}
			@media #{$bp-medium} {
				font-size: 20px;
				line-height: 22px;
				padding-bottom: 1px;
			}
		}
		.place {
			color: #404042;
			font-size: 18px;
			@media #{$bp-medium} {
				font-size: 14px;
				line-height: 16px;
			}
			@media #{$bp-large} {
				font-size: 16px;
			}
			@media #{$bp-medium} {
				font-size: 13px;
				line-height: 20px;
			}
		}
		.button {
			width: 100%;
			margin-top: 30px;
			@media #{$bp-blarge} {
				margin-top: 15px;
			}
			@media #{$bp-medium} {
			      margin-top: 3px;
			}
		}
	}
}



.section-10 {
	position: relative;
	z-index: 1;
	padding-bottom: 100px;
	@media #{$bp-blarge} {
		padding-bottom: 70px;
	}
	.container {
		position: relative;
	}
	.logo-up {
		background: url('../svg/logo-svg-up.svg') center top no-repeat;
		width: 281px;
		height: 231px;
		background-size: 281px 231px;
		display: block;
		position: absolute;
		left: 90px;
		top: -80px;
		z-index: 5;
		@media #{$bp-blarge} {
			width: 212px;
			height: 174px;
			background-size: 212px 174px;
			top: -60px;
		}
		@media #{$bp-large} {
			width: 168px;
			height: 138px;
			background-size: 168px 138px;
			top: -48px;
		}
		@media #{$bp-medium} {
			width: 126px;
			height: 103px;
			background-size: 126px 103px;
			left: 55px;
			top: -35px;
		}
	} 
	.main-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 115px;
		@media #{$bp-blarge} {
			width: 799px;
			height: auto;
		}
		@media #{$bp-large} {
			width: 636px;
			margin-top: 65px;
		}
		@media #{$bp-medium} {
		      width: 473px;
		      margin-top: 43px;
		}
	}
	.wrapp {
		position: relative;
		.pos {
			position: absolute;
			display: block;
			b {
				color: #8dc73f;
				font-size: 20px;
				font-weight: 700;
				@media #{$bp-blarge} {
					font-size: 16px;
					margin-bottom: 5px;
					display: block;
				}
				@media #{$bp-large} {
					font-size: 13px;
					margin-bottom: 0;
				}
			}
			span {
				color: #161616;
				font-size: 14px;
				line-height: 21px;
				display: block;
				@media #{$bp-blarge} {
					font-size: 13px;
					line-height: 14px;
				}
				@media #{$bp-large} {
					font-size: 12px;
					line-height: 14px;
				}
				@media #{$bp-medium} {
					font-size: 11px;
					line-height: 12px;
				}
			}
			&.pos-1 {
				top: -20px;
				left: 825px;
				@media #{$bp-blarge} {
					left: 625px;
					top: -7px;
				}
				@media #{$bp-large} {
					left: 500px;
				}
				@media #{$bp-medium} {
				      left: 375px;
				      top: -10px;
				}
			}
			&.pos-2 {
				top: 50px;
				left: 1015px;
				@media #{$bp-blarge} {
					left: 765px;
					top: 41px;
				}
				@media #{$bp-large} {
					left: 616px;
					top: 31px;
				}
				@media #{$bp-medium} {
				      left: 460px;
				      top: 20px;
				}
			}
			&.pos-3 {
				top: 135px;
				left: 1160px;
				@media #{$bp-blarge} {
					left: 877px;
					top: 105px;
				}
				@media #{$bp-large} {
					left: 700px;
					top: 85px;
				}
				@media #{$bp-medium} {
				      left: 523px;
				      top: 65px;
				}
			}
			&.pos-4 {
				top: 335px;
				left: 160px;
				@media #{$bp-blarge} {
					left: 120px;
					top: 255px;
				}
				@media #{$bp-large} {
					top: 195px;
				}
				@media #{$bp-medium} {
				      left: 50px;
				      top: 140px;
				}
			}
			&.pos-5 {
				top: 470px;
				left: 420px;
				@media #{$bp-blarge} {
					left: 315px;
					top: 360px;
				}
				@media #{$bp-large} {
					left: 300px;
					top: 280px;
				}
				@media #{$bp-medium} {
				      left: 200px;
				      top: 210px;
				}
			}
		}
	}
}



.blue-section {
	background-color: #047bc0;
	padding: 40px 0 40px;
	margin-bottom: 40px;
	@media #{$bp-blarge} {
		padding: 25px 0;
	}
	@media #{$bp-large} {
		padding: 16px 0;
		margin-bottom: 20px;
	}
	@media #{$bp-medium} {
	      padding: 15px 0 10px;
	}
	.blue-section-title {
		font-size: 50px;
		line-height: 53px;
		@media #{$bp-blarge} {
			font-size: 40px;
			line-height: 43px;
		}
		@media #{$bp-large} {
			font-size: 31px;
			line-height: 32px;
		}
		@media #{$bp-medium} {
			font-size: 21px;
			line-height: 26px;
		}
		@media #{$bp-small} {
			font-size: 18px;
			line-height: 20px;
		}
	}
	.right-float {
		float: right;
		text-align: left;
		.button {
			padding: 0 25px;
			@media #{$bp-large} {
				padding: 0 10px;
			}
		}
		.link-1 {
			display: inline-block;
			font-size: 18px;
			text-decoration: underline;
			color: white;
			margin-top: 20px;
			@media #{$bp-blarge} {
				font-size: 16px;
			}
			@media #{$bp-medium} {
				font-size: 12px;
			}
			@media #{$bp-medium} {
			      margin-top: 5px;
			}
		}
	}
}










.section-11 {
	background: rgba(239,239,239, .3);
	margin-top: 50px;
	padding-bottom: 120px;
	@media #{$bp-blarge} {
		margin-top: 38px;
		padding-bottom: 100px;
	}
	@media #{$bp-medium} {
	      margin-top: 20px;
	      padding-bottom: 45px;
	}
	.l-block {
		float: left;
		width: 32%;
		background-color: #fff;
		box-shadow: 0 0px 12px rgba(0, 0, 0, 0.08);
		padding-top: 90px;
		position: relative;
		@media #{$bp-blarge} {
			padding-top: 65px;
		}
		@media #{$bp-large} {
			padding-top: 50px;
		}
		@media #{$bp-medium} {
		      padding-top: 40px;
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 77px;
			background: url('../img/corner.png') center top no-repeat;
			bottom: -77px;
			left: 0;
			background-size: 100%	100%;
		}
		.logo-tabs {
			background: url('../svg/logo-tabs.svg') center top no-repeat;
			width: 238px;
			height: 109px;
			background-size: 238px 109px;
			display: inline-block;
			margin-left: 60px;
			@media #{$bp-blarge} {
				width: 179px;
				height: 80px;
				background-size: 179px 80px;
			}
			@media #{$bp-large} {
				width: 141px;
				height: 65px;
				background-size: 141px 65px;
			}
			@media #{$bp-medium} {
				width: 105px;
				height: 48px;
				background-size: 105px 48px;
				margin-left: 30px;
			}
		}
		.tr {
			font-family: $noto;
			color: #404042;
			margin-top: 35px;
			margin-bottom: 0px;
			font-size: 30px;
			margin-left: 60px;
			@media #{$bp-blarge} {
				margin-left: 45px;
				margin-top: 25px;
			}
			@media #{$bp-large} {
				font-size: 21px;
				margin-left: 35px;
				margin-top: 20px;
			}
			@media #{$bp-medium} {
				font-size: 16px;
				margin-top: 13px;
				margin-left: 30px;
			}
		}
		.tabs-caption {
			padding: 20px 0 60px;
			position: relative;
			@media #{$bp-blarge} {
				padding-bottom: 20px;
			}
			@media #{$bp-large} {
				padding-top: 10px;
				padding-bottom: 10px;
			}
			@media #{$bp-medium} {
			      padding-top: 4px;
			}
			li {
				position: relative;
				z-index: 1;
				color: #848484;
				font-size: 26px;
				line-height: 30px;
				padding: 17px	10px 17px 60px;
				@media #{$bp-blarge} {
					padding-left: 45px;
					font-size: 22px;
					padding-top: 9px;
					padding-bottom: 9px;
				}
				@media #{$bp-large} {
					font-size: 18px;
					padding-top: 4px;
					padding-bottom: 4px;
				}
				@media #{$bp-medium} {
					font-size: 13px;
					line-height: 20px;
					padding-left: 30px;
				}
				// height: 56px;
				// line-height: 56px;
				&:hover {
					cursor: pointer;
				}
				&.active {
					background-color: #8cc63f;
					color: white;
					// height: 64px;
					// line-height: 64px;
					&:after {
						content: '';
						display: block;
						position: absolute;
						width: 0;
						height: 0;
						left: 100%;
						// border: 32px solid transparent;
						border-left: 16px solid #8cc63f;
						top: 0;
					}
				}
			}
		}
	}
	.r-block {
		width: 60%;
		float: right;
		.r-block-title {
			color: #404042;
			font-size: 56px;
			padding-top: 140px;
			line-height: 60px;
			padding-bottom: 50px;
			border-bottom: 1px solid rgba(204,204,204, .4);
			@media #{$bp-blarge} {
				font-size: 36px;
				line-height: 46px;
				padding-top: 100px;
				padding-bottom: 35px;
			}
			@media #{$bp-large} {
				font-size: 36px;
				line-height: 41px;
				padding-top: 80px;
				padding-bottom: 15px;
			}
			@media #{$bp-medium} {
				font-size: 28px;
				line-height: 30px;
				padding-top: 50px;
			}
			@media #{$bp-small} {
				text-align: center;
				font-size: 24px;
				line-height: 25px;
			}
		}

		.tabs-content {
			display: none;
			min-height: 10px;
			&.active {
				display: block;
				min-height: 10px;
				padding-bottom: 5px;
			}
			p {
				margin-bottom: 0;
				&+.button {
					margin-top: 40px;
					@media #{$bp-medium} {
					      margin-top: 25px;
					}
				}
			}
			.list-1 {
				margin-bottom: 30px;
				margin-top: 0;
				@media #{$bp-medium} {
				      margin-bottom: 15px;
				}
				li {
					@media #{$bp-blarge} {
						font-size: 14px;
						line-height: 16px;
					}
				}
			}
		}
		.tabs-content-title {
			color: #404042;
			font-size: 56px;
			line-height: 60px;
			margin-top: 50px;
			font-family: $noto;
			@media #{$bp-blarge} {
				font-size: 42px;
				line-height: 50px;
				margin-top: 35px;
			}
			@media #{$bp-large} {
				font-size: 37px;
				margin-top: 25px;
			}
			@media #{$bp-medium} {
				font-size: 26px;
			}
			@media #{$bp-small} {
				text-align: center;
				font-size: 21px;
			}
		}
		p {
			color: #404042;
			font-size: 18px;
			line-height: 22px;
			margin-top: 30px;
			@media #{$bp-blarge} {
				font-size: 14px;
				line-height: 16px;
			}
			@media #{$bp-medium} {
				font-size: 12px;
				line-height: 14px;
				margin-top: 5px;
			}
			@media #{$bp-small} {
				text-align: center;
			}
		}
		.button {
			padding: 0 45px;
			margin-top: 10px;
			text-decoration: none;
			@media #{$bp-blarge} {
				padding: 0 25px;
			}
		}
	}
}










.section-12	{
	.title {
		@media #{$bp-blarge} {
			font-size: 36px;
			line-height: 38px;
		}
		@media #{$bp-large} {
			font-size: 30px;
			line-height: 32px;
		}
		@media #{$bp-medium} {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 35px !important;
		}
	}
	.container {
		padding-top: 95px;
		position: relative;
		border-bottom: 1px solid rgba(215,215,215, .34);
		@media #{$bp-blarge} {
			padding-top: 85px;
		}
		@media #{$bp-large} {
		      padding-top: 50px;
		}
		@media #{$bp-medium} {
		      padding-top: 30px;
		}
		.bonus {
			position: absolute;
			right: 0;
			top: -90px;
			@media #{$bp-blarge} {
				width: 600px;
				height: auto;
				top: -55px;
				right: 10px;
			}
			@media #{$bp-large} {
				width: 470px;
				top: -45px;
				right: 15px;
			}
			@media #{$bp-medium} {
			      width: 350px;
			      right: 20px;
			}
		}
	}
	.title {
		color: #3a3a3a;
		text-align: left;
		padding-bottom: 37px;
		border-bottom: 1px solid rgba(215,215,215, .34);
		margin-bottom: 75px;
		@media #{$bp-blarge} {
			padding-bottom: 15px;
			margin-bottom: 55px;
		}
		@media #{$bp-large} {
		      margin-bottom: 50px;
		}
	}	
	.wrapp-list {
		position: relative;
		padding-left: 150px;
		margin-bottom: 65px;
		@media #{$bp-blarge} {
			padding-left: 115px;
		}
		@media #{$bp-large} {
		      padding-left: 90px;
		      margin-bottom: 30px;
		}
		@media #{$bp-medium} {
		      padding-left: 65px;
		}
		&.l-wr {
			margin-bottom: 105px;
			@media #{$bp-large} {
			      margin-bottom: 85px;
			}
			@media #{$bp-medium} {
			      margin-bottom: 30px;
			}
		}
		p {
			color: #161616;
			font-size: 18px;
			line-height: 24px;
			@media #{$bp-blarge} {
				font-size: 14px;
				line-height: 17px;
			}
			@media #{$bp-large} {
				font-size: 12px;
				line-height: 15px;
			}
			@media #{$bp-medium} {
				font-size: 12px;
				line-height: 14px;
			}
		}
		.circle-green {
			width: 92px;
			height: 92px;
			display: inline-block;
			background-color: #d4ebb5;
			border-radius: 50%;
			position: relative;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			@media #{$bp-blarge} {
				width: 69px;
				height: 69px;
			}
			@media #{$bp-large} {
				width: 55px;
				height: 55px;
			}
			@media #{$bp-medium} {
				width: 41px;
				height: 41px;
			}
			i {
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				display: inline-block;
				&.patt-1 {
					background: url('../svg/patt-1.svg') center top no-repeat;
					width: 40px;
					height: 31px;
					background-size: 40px 31px;
					@media #{$bp-blarge} {
						width: 30px;
						height: 23px;
						background-size: 30px 23px;
					}
					@media #{$bp-large} {
						width: 24px;
						height: 18px;
						background-size: 24px 18px;
					}
					@media #{$bp-medium} {
						width: 18px;
						height: 14px;
						background-size: 18px 14px;
					}
				}
				&.patt-2 {
					background: url('../svg/patt-2.svg') center top no-repeat;
					width: 41px;
					height: 34px;
					background-size: 41px 34px;
					@media #{$bp-blarge} {
						width: 31px;
						height: 26px;
						background-size: 31px 26px;
					}
					@media #{$bp-large} {
						width: 25px;
						height: 20px;
						background-size: 25px 20px;
					}
					@media #{$bp-medium} {
						width: 18px;
						height: 15px;
						background-size: 18px 15px;
					}
				}
			}
		}
	}
}





.section-13 {
	position: relative;
	padding-bottom: 70px;
	padding-top: 50px;
	@media #{$bp-blarge} {
		padding-top: 22px;
		padding-bottom: 50px;
	}
	@media #{$bp-large} {
	      padding-bottom: 40px;
	}
	@media #{$bp-medium} {
	      padding-bottom: 25px;
	}
	.txt-comment {
		font-size: 56px;
		line-height: 56px;
		color: #161616;
		margin-bottom: 35px;
		@media #{$bp-blarge} {
			font-size: 36px;
			line-height: 46px;
			margin-bottom: 20px;
		}
		@media #{$bp-large} {
			font-size: 30px;
			line-height: 32px;
		}
		@media #{$bp-medium} {
			font-size: 24px;
			line-height: 26px;
		}
		@media #{$bp-small} {
			font-size: 24px;
			line-height: 26px;
		}
	}
	#video-placeholder {
		max-width: 100% !important;
		&+.descr {
			margin-top: 25px;
			@media #{$bp-blarge} {
				margin-top: 22px;
				margin-bottom: 20px;
			}
			@media #{$bp-large} {
			      margin-top: 15px;
			      margin-bottom: 10px;
			}
			@media #{$bp-medium} {
			      margin-top: 5px;
			      font-size: 12px;
			}
			&+.button {
				padding: 0 48px;
				@media #{$bp-blarge} {
					padding: 0 25px;
				}
				@media #{$bp-large} {
					padding: 0 15px;
				}	
			}
		}
	}
	.height-thumb {
		height: 550px;
		overflow-y: scroll;
		@media #{$bp-blarge} {
			height: 440px;
		}
		@media #{$bp-large} {
		      height: 350px;
		}
		@media #{$bp-medium} {
		      height: 265px;
		}
	}
	.descr {
		color: #404042;
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 35px;
		margin-top: 10px;
		@media #{$bp-blarge} {
			margin-bottom: 17px;
		}
		@media #{$bp-large} {
			font-size: 16px;
			margin-bottom: 7px;
		}
		@media #{$bp-medium} {
			font-size: 13px;
			margin-top: 2px;
			margin-bottom: 5px;
		}
	}
	.right-thumb {
		float: left;
		max-width: 73%;
		img {
			max-width: 100%;
			@media #{$bp-blarge} {
				max-height: 173px;
			}
			@media #{$bp-large} {
				height: 137px;
			}
			@media #{$bp-medium} {
				height: 102px;	
			}
		}
	}
}





.section-map {
	position: relative;
	overflow: hidden;
	form {
		@media #{$bp-blarge} {
			padding-top: 15px !important;
		}
		@media #{$bp-large} {
		      padding-top: 5px !important;
		}
	}
	.all-form {
		@media #{$bp-medium} {
			width: 250px;
		}
	}
	.container {
		position: relative;
		&>.form-footer.all-form{
			position: relative;
			z-index: 3;
		}
	}
	#map-canvas {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		top: 140px;
		@media #{$bp-blarge} {
			top: 120px;
		}
		@media #{$bp-large} {
		      top: 90px;
		}
		@media #{$bp-medium} {
		      top: 65px;
		}
	}
	.footer-info {
		width: 563px;
		background-color: white;
		text-align: center;
		position: relative;
		z-index: 3;
		margin-top: 10px;
		padding: 70px 30px 90px 30px;
		margin-bottom: 30px;
		@media #{$bp-blarge} {
			width: 424px;
			padding-top: 50px;
			padding-bottom: 60px;
		}
		@media #{$bp-large} {
			width: 337px;
			padding-top: 35px;
			padding-bottom: 40px;
		}
		@media #{$bp-medium} {
			width: 250px;
			padding-top: 30px;
			padding-bottom: 25px;
			margin-bottom: 20px;
		}
		.button {
			width: 100%;
			margin-top: 40px;
			@media #{$bp-blarge} {
				margin-top: 30px;
			}
			@media #{$bp-large} {
			      margin-top: 25px;
			}
			@media #{$bp-medium} {
			      margin-top: 10px;
			}
		}
		i.logo-footer {
			display: inline-block;
			background: url('../svg/logo-footer.svg') center top no-repeat;
			width: 147px;
			height: 68px;
			background-size: 147px 68px;
			@media #{$bp-blarge} {
				width: 110px;
				height: 51px;
				background-size: 110px 51px;
			}
			@media #{$bp-large} {
				width: 87px;
				height: 40px;
				background-size: 87px 40px;
			}
			@media #{$bp-medium} {
				width: 65px;
				height: 31px;
				background-size: 65px 31px;
			}
		}
		.name-serv {
			color: #161616;
			font-size: 34px;
			margin-top: 35px;
			margin-bottom: 12px;
			@media #{$bp-blarge} {
				font-size: 28px;
				line-height: 24px;
				margin-bottom: 5px;
			}
			@media #{$bp-large} {
				font-size: 24px;
				line-height: 24px;
				margin-top: 20px;
			}
			@media #{$bp-medium} {
				font-size: 22px;
				line-height: 24px;
				margin-top: 10px;
			}
		}
		.place {
			color: #161616;
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 15px;
			@media #{$bp-blarge} {
				font-size: 16px;
				margin-bottom: 10px;
			}
			@media #{$bp-large} {
				font-size: 13px;
			}
			@media #{$bp-medium} {
				font-size: 12px;
				line-height: 15px;
				margin-bottom: 5px;
			}
		}
		.phone-footer {
			color: #404042;
			font-size: 42px;
			line-height: 60px;
			font-family: $noto;
			margin-bottom: 10px;
			@media #{$bp-blarge} {
				font-size: 28px;
				line-height: 45px;
			}
			@media #{$bp-large} {
				font-size: 23px;
				line-height: 25px;
			}
			@media #{$bp-medium} {
				font-size: 18px;
				margin-bottom: 5px;
			}
		}
		.link-foot {
			color: #047bc0;
			font-family: $noto;
			font-size: 22px;
			text-decoration: underline;
			@media #{$bp-blarge} {
				font-size: 16px;
			}
			@media #{$bp-large} {
				font-size: 14px;
			}
			@media #{$bp-medium} {
				font-size: 12px;
			}
		}
	}
}


.all-form {
	background-color: #047bc0;
	padding: 0 30px 45px 30px;
	text-align: center;
	width: 563px;
	@media #{$bp-blarge} {
		width: 424px;
		padding-bottom: 35px;
	}
	@media #{$bp-large} {
		width: 337px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
	}
	@media #{$bp-medium} {
	      padding-bottom: 20px;
	}
	&.hide-b {
		padding-top: 55px;
		padding-bottom: 66px;
		@media #{$bp-blarge} {
		      padding-top: 40px;
		      padding-bottom: 50px;
		      @media #{$bp-large} {
		            padding-top: 30px;
		            padding-bottom: 40px;
		            @media #{$bp-medium} {
		                  padding-top: 25px;
		                  padding-bottom: 35px;
		            }
		      }
		}
	}
	&.inl-form {
		width: 100%;
		text-align: left;
		padding: 0;
		padding-top: 50px;
		input {
			width: 503px;
			display: inline-block;
			vertical-align: top;
			margin-bottom: 0;
			margin-right: 20px;
		}
		.button {
			width: 503px;
			height: 64px;
			line-height: 64px;
			vertical-align: top;
		}
	}
	form {
		padding-top: 27px;
	}
	input {
		margin-bottom: 20px;
		@media #{$bp-blarge} {
			margin-bottom: 16px;
		}
	}
	textarea {
		margin-bottom: 32px;
		@media #{$bp-blarge} {
			margin-bottom: 20px;
		}
		@media #{$bp-large} {
		      margin-bottom: 12px;
		}
	}
	.button {
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
	}
	.form-footer-title {
		font-family: $noto;
		padding-top: 57px;
		color: white;
		font-size: 49px;
		line-height: 50px;
		padding-bottom: 40px;
		margin-bottom: 17px;
		border-bottom: 1px solid #2694d5;
		@media #{$bp-blarge} {
			font-size: 35px;
			padding-top: 45px;
			padding-bottom: 23px;
		}
		@media #{$bp-large} {
			font-size: 28px;
			padding-top: 40px;
			margin-bottom: 20px;
			padding-bottom: 5px;
		}
		@media #{$bp-medium} {
			font-size: 19px;
			padding-top: 20px;
			padding-bottom: 10px;
			line-height: 30px;
			margin-bottom: 7px;
		}
	}
	.form-head {
		color: white;
		font-size: 34px;
		@media #{$bp-blarge} {
			font-size: 26px;
		}
		@media #{$bp-large} {
			font-size: 19px;
			line-height: 24px;
		}
		@media #{$bp-medium} {
			font-size: 14px;
			line-height: 20px;
		}
	}
	.form-head-sm {
		color: white;
		font-size: 18px;
		line-height: 24px;
		margin-top: 10px;
		@media #{$bp-blarge} {
			font-size: 14px;
			line-height: 16px;
		}
		@media #{$bp-large} {
			font-size: 11px;
			line-height: 14px;
			margin-top: 5px;
		}
		@media #{$bp-medium} {
			line-height: 12px;
			margin-bottom: 5px;
		}
	}
}





footer {
	padding: 30px 0;
	@media #{$bp-medium} {
	      padding: 15px 0;
	}
	.copy {
		color: #404042;
		font-size: 14px;
		line-height: 21px;
		@media #{$bp-blarge} {
			font-size: 12px;
			line-height: 16px;
		}
	}
	.link-foot-l {
		display: inline-block;
		color: #9b9b9b;
		font-size: 14px;
		line-height: 13px;
		text-decoration: underline;
		@media #{$bp-blarge} {
			font-size: 12px;
		}
	}
	.link-m {
		color: #047bc0;
		font-size: 14px;
		text-decoration: underline;
		line-height: 13px;
		@media #{$bp-blarge} {
			font-size: 12px;
		}
	}
	.info-foot {
		color: #9b9b9b;
		font-size: 12px;
		line-height: 14px;
		float: right;
		text-align: left;
	}
}


#show-all {
	width: 563px;
	background-color: #fff;
	padding: 20px 30px;
	.list-1 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.list-1 {
	margin-top: 30px;
	margin-bottom: 60px;
	li {
		color: #404042;
		font-size: 18px;
		line-height: 20px;
		padding-left: 28px;
		position: relative;
		margin: 5px 0;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 4px;
			height: 4px;
			background-color: #404042;
			border-radius: 50%;
		}
	}
}





.pdf-all {
	width: 1569px;
	background-color: #fcfcfc;
	border: 1px solid #bcbcbc;
	padding: 65px 79px 65px 0;
	@media #{$bp-blarge} {
		max-width: 100%;
	}
	@media #{$bp-large} {
	      padding: 50px 30px 50px 0;
	}
	@media #{$bp-medium} {
	       padding: 30px 30px 30px 0;
	}
	.l-img {
		width: 65%;
		float: left;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.r-inf {
		width: 35%;
		float: left;
		.pf-title {
			color: #404042;
			font-size: 34px;
			line-height: 38px;
			font-family: $noto;
			@media #{$bp-blarge} {
				font-size: 30px;
				line-height: 34px;
			}
			@media #{$bp-large} {
			      font-size: 25px;
			      line-height: 30px;
			}
			@media #{$bp-medium} {
			      font-size: 20px;
			      line-height: 25px;
			}
			span {
				display: block;
				color: #9b9b9b;
				font-size: 22px;
				line-height: 30px;
				@media #{$bp-blarge} {
				      font-size: 20px;
				      line-height: 25px;
				}
				@media #{$bp-large} {
				      font-size: 18px;
				}
				@media #{$bp-medium} {
				      font-size: 15px;
				      line-height: 18px;
				}
			}
		}
		p {
			color: #404042;
			font-size: 24px;
			line-height: 28px;
			margin-top: 25px;
			margin-bottom: 25px;
			@media #{$bp-blarge} {
				font-size: 20px;
				line-height: 24px;
			}
			@media #{$bp-large} {
			      font-size: 18px;
			      line-height: 20px;
			}
			@media #{$bp-medium} {
			      font-size: 15px;
			      line-height: 18px;
			      margin-top: 10px;
			      margin-bottom: 10px;
			}
		}
		.button {
			width: 100%;
			margin-top: 23px;
			@media #{$bp-medium} {
			      margin-top: 10px;
			}
		}
	}

}





#stock {
	width: 1425px;
	background-color: #fcfcfc;
	padding-top: 90px;
	.p {
		padding-left: 100px;
		padding-right: 85px;
		padding-bottom: 90px;
	}
	.r {
		background-color: #047bc0;
		padding: 60px 85px 70px 100px;
		h5 {
			font-size: 34px;
			line-height: 38px;
			color: #fff;
		}
		h6 {
			color: white;
			font-size: 18px;
			line-height: 24px;
			margin-top: 15px;
		}
	}
	.st-title {
		color: #404042;
		font-size: 65px;
		line-height: 64px;
	}
	ul {
		padding-top: 50px;
		li {
			color: #404042;
			font-size: 24px;
			line-height: 25px;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


#form-ex {
	.form-footer-title {
		padding-top: 0;
	}
}


#politic {
	padding: 20px 30px;
	width: 900px;
	background-color: #f8f8f8;
	color: #333;
	@media #{$bp-blarge} {
	      max-width: 100%;
	}
	h3 {
		text-align: center;
		font-size: 40px;
		color: #333;
		@media #{$bp-blarge} {
			font-size: 28px;
			line-height: 32px;
		}
		@media #{$bp-large} {
		      font-size: 25px;
		      line-height: 30px;
		}
		@media #{$bp-medium} {
		      font-size: 22px;
		      line-height: 25px;
		}
	}
	h2 {
		font-size: 30px;
		@media #{$bp-blarge} {
			font-size: 24px;
		}
		@media #{$bp-large} {
		      font-size: 20px;
		}
	}
	p {
		font-size: 18px;
		@media #{$bp-blarge} {
			font-size: 15px;
		}
		@media #{$bp-large} {
		      font-size: 14px;
		}
	}
}